@tailwind base;
@tailwind components;
@tailwind utilities;

/* OWNER: STATIC (Dev A) */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased text-gray-900 bg-gray-50;
  }
}
