---
import Layout from "../layouts/Layout.astro";
import Button from "../components/ui/Button.astro";
import ProgramTabs from "../components/program/ProgramTabs.jsx";
import ProgramHero from "../components/program/ProgramHero.astro";
import { programs } from "../data/programs";
import HomeSuccessCTA from "../components/home/HomeSuccessCTA.astro";
---

<Layout title="Semua Program - Ultimate Education" description="Jelajahi program persiapan tes internasional (IELTS, TOEFL, SAT), kursus bahasa asing, dan bimbingan beasiswa kami.">
  <main class="flex-grow bg-white">
    <!-- Hero Section -->
    <ProgramHero />

    <!-- Content Section -->
    <section class="py-16 md:py-24">
      <div class="container mx-auto">
        <ProgramTabs allPrograms={programs} client:load />
      </div>
    </section>
  </main>

  <!-- CTA Section -->
  <HomeSuccessCTA />
</Layout>
